{% extends 'teamScheduling/base.html' %}
{% load staticfiles %}
{% block title %}{{team.name}}{% endblock %}
{% block content %} 
	<form action="">
		{% for player in players %}
		<input type="checkbox" name="mp" value={{player.id}}
			{% if player.selected %}
				checked
			{% endif %}
		>
			{{player.user.first_name}} {{player.user.last_name}}
		</input>
		<br/>
		{% endfor %}
		<input type="submit" value="SUBMIT"/>
	</form>
	<ul style='list-style:none;'>
		{% for sub_object in subs %}
			<ul>
			{% for mp in sub_object.mps %}
				{{mp.user.first_name}} {{mp.user.last_name}}
			{% endfor %}
			{% for sub in sub_object.subs %}
			<li>
				<p>
					{{sub.user.first_name}} {{sub.user.last_name}} {{sub.user.email}}
				</p>
			</li>
			{% endfor %}
			</ul>
		{% endfor %}
	</ul>

{% endblock %}
